<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="img/favicon.png" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		

		 
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/todc-bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/css/markdown.css">
		<link rel="stylesheet" href="/css/gogs.css">

		<title>Login</title>
	</head>
	<body>
		<div id="wrapper">
		<noscript>Please enable JavaScript in your browser!</noscript>
<div class="masthead navbar" id="masthead">
    <div class="container">
        <nav class="nav">
            <a id="nav-logo" class="nav-item pull-left" href="/"><img src="/img/favicon.png" alt="Logo" id="logo"></a>
            <a class="nav-item pull-left" href="/">Dashboard</a>
            <a class="nav-item pull-left" href="https://github.com/gogits/gogs/wiki">Help</a><a id="nav-signin" class="nav-item navbar-right navbar-btn btn btn-danger" href="/login">Sign In</a>
        </nav>
    </div>
</div>
