{{template "header_loggedinuser.tmpl" .}}


<div id="body" class="container" data-page="user">
    <div id="user-setting-container" class="col-md-9">
        <div id="setting-pwd">
            <h4>Rename file</h4>
            <form class="form-horizontal" id="password-form" method="post" action="/user/rename/{{.PageSpecificData2}}">

                <div class="form-group">
                    <label class="col-md-3 control-label">File:<strong class="text-danger">*</strong></label>
                    <p>{{.PageSpecificData2}}</p>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">File Name</label>
                    <div class="col-md-7">
                        <input name="fname" class="form-control">
                    </div>
                </div>
                


                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        <button type="submit" class="btn btn-primary">Rename</button>&nbsp;&nbsp;
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="wrapper-push"></div>
</div>
</body>
</html>
