<h3 class="uppercase">top keywords</h3><br/>
<div style="width:70%;">
    <span class="label label-default" id="cloudtag-1"></span>
    <span class="label label-primary" id="cloudtag-2"></span>
    <span class="label label-success" id="cloudtag-3"></span>
    <span class="label label-info" id="cloudtag-4"></span>
    <span class="label label-warning" id="cloudtag-5"></span>
    <span class="label label-danger" id="cloudtag-6"></span>
</div>

<span class="divider"></span>
 <div class="row">
    <div class="col-md-12">

        <!-- COLUMN CHART START -->
        <div class="column-chart">
            <div class="legend legend-left hidden-xs">
                <h3 class="legend-title animated bounceInLeft" style="opacity: 1;">Crime</h3>
            </div>
            <!-- //.legend -->
            <div class="legend legend-right hidden-xs" style="padding-right:35px">
                <div class="item">
                    <h4 id="per-100">100</h4>
                </div>
                <!-- //.item -->

                <div class="item">
                    <h4 id="per-75">75</h4>
                </div>
                <!-- //.item -->

                <div class="item">
                    <h4 id="per-50">50</h4>
                </div>
                <!-- //.item -->

                <div class="item">
                    <h4 id="per-25">25</h4>
                </div>
                <!-- //.item -->
            </div>


            <div class="chart clearfix">
                <div class="item">
                    <div class="bar">
                        <span class="percent" id="per-assault">92</span>

                        <div class="item-progress" id="assault" style="height: 294.40000000000003px;">
                        </div>
                        <span class="title uppercase assault">Assault</span>

                        <!-- //.item-progress -->
                    </div>
                    <!-- //.bar -->
                </div>
                <!-- //.item -->
                <div class="item">
                    <div class="bar">
                        <span class="percent" id="per-robbery">92</span>

                        <div class="item-progress" id="robbery" style="height: 294.40000000000003px;">
                        </div>
                        <span class="title uppercase robbery">Robbery</span>

                        <!-- //.item-progress -->
                    </div>
                    <!-- //.bar -->
                </div>
                <!-- //.item -->
                <div class="item">
                    <div class="bar">
                        <span class="percent" id="per-theft">92</span>

                        <div class="item-progress" id="theft" style="height: 294.40000000000003px;">
                        </div>
                        <span class="title uppercase theft">Theft</span>

                        <!-- //.item-progress -->
                    </div>
                    <!-- //.bar -->
                </div>
                <!-- //.item -->
                <div class="item">
                    <div class="bar">
                        <span class="percent" id="per-drug">92</span>

                        <div class="item-progress" id="drug" style="height: 294.40000000000003px;">
                        </div>
                        <span class="title uppercase drug">Drug</span>

                        <!-- //.item-progress -->
                    </div>
                    <!-- //.bar -->
                </div>
                <!-- //.item -->
            </div>
            <!-- //.chart -->
        </div>
        <!-- //COLUMN CHART END -->
        <p><center>Crime values are aggregated in order to compare suburbs. The data has been sourced from NSW Police at data.gov.au.</center></p>
    </div>
    <!-- //.col-md-12 -->
</div>
